<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather Station Live Report</title>
        <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
        <style>
            .container {
                border: 1px solid #000;
                border-radius: 0px;
                padding: 10px;
            }
        </style>
    </head>

    <body>
        <table class="container">
            <tr>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
                <th>Wind Speed</th>
                <th>Wind Direction</th>
                <th>Rain Gauge Reading</th>
            </tr>

            <tr>
                <td>{{ html_temperature }}</td>
                <td>{{ html_humidity }} </td>
                <td>{{ html_pressure }}</td>
                <td>{{ html_windspeed }}</td>
                <td>{{ html_winddir }}</td>
                <td>{{ html_rain }}</td>
            </tr>
        </table>

        <h1>Live Stream</h1>
        <iframe src="http://{{ html_server_ip }}/stream_simple.html" width="640" height="320" scrolling="no"/>
    </body>

    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
</html>
